MSSQL_SA_PASSWORD=STRong_password123

MSSQL_DATABASE=SpellCheckDb
MSSQL_USER=SpellCheckUser
MSSQL_USER_PASSWORD=STRong_password123

JWT__SecretKey=/LfV+nHhVJpHoDFl9WooTwHBCwVCxMESDuYlDNqZ3Hg=

APIAdministrator__Email=admin@gmail.com
APIAdministrator__Password=STRong_password123

APIAdministrator__Client__Id=myClient
APIAdministrator__Client__Name=myClient
APIAdministrator__Client__URL=random.url.com